<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_for_shop.css') }}">
</head>
<body>
<a href="statistics/{{ name }}" target="_self">Статистика</a>
<table>
    <tr>
    {% for image in images %}
        {% if loop.index % 3 == 0 %}
            <td><div class="imgContainer">
            <div>
                <img src="/static/cloak/{{ image }}" class="d-block w-100" alt="...">
            </div>
            <div class="imgButton">
                <form>
    <input type="button" name="{{ image }}"value='10$ BUY'>
</form>

            </div>
     </div></tr><tr>
        {% else %}
            <td><div class="imgContainer">
            <div>
                <img src="/static/cloak/{{ image }}" class="d-block w-100" alt="...">
            </div>
            <div class="imgButton">
                <form>
    <input type="button" name="{{ image }}"value='10$ BUY'>
</form>

            </div>
     </div></td>
        {% endif %}
    {% endfor %}
    {% if len % 3 != 0 %}
        </tr>
    {% endif %}
</table>
</body>
</html>